// Login Page
.login {
  padding: 40px 0px;
  background: image-url('delivery/irongrip.png') repeat #444;
}

.login .form-signin {
  max-width: 330px;
  margin: 40px auto;
  background-color: #FFF;
  border-radius: 4px;
  padding: 20px;

  h1 { 
    font-family: cursive;
    color: #777;
  }
}

.login .form-signin form {
  width: 290px;
  margin: 0 auto;

  input.top {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
  }
}