# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 210a7d4e89f65b673317195675ede392fc2907798ed691b4f1d80da071d90182d2e9b89693c9aff2ced0c11db7d7e365470ec3d841283fd4854382505da4ec29

test:
  secret_key_base: 87ca7373f325d30430d1b6fd9d6f0e71ded04548dbb86428b43f5803844cb87e05d7ad02acf4cc6654dd5aebe99a6fab23142c8f5384cada98d8a26c33207a6c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
