<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>Untitled Document</title>
<style>
	body{background-color: #fff;margin: 0px;padding: 0px;}
	.tab{height: 46px;border-bottom: solid 1px #ccc;background-color: #f1f1f1;}
	.tab ul{list-style: none;margin: 0px;padding: 0px;width: 90%;margin: auto;display: block;}
	.tab ul li{float: left;width: 33%;}
	.tab ul li#current a{color: #ff4600;border-bottom: solid 3px #ff4600;}
	.tab ul li a{color: #929292;line-height: 46px;font-size: 14px;text-decoration: none;text-align: center;display: block;}
	
	
	.text_box{border-bottom: solid 1px #f1f1f1;padding: 15px 20px;}
	.text_box h1{font-size: 16px;margin: 0px;padding: 0;color: #454545;background: url(<%= asset_path('icon.png') %>) left center;background-repeat: no-repeat;-webkit-background-size: 14px 14px; padding-left: 20px;}
	.text_box p{padding: 0px;margin: 0px;color: #929292;font-size: 12px;line-height: 18px;margin-top: 5px;}
</style>
</head>

<body>
	<div class="tab">
		<ul>
			<li><a href="/cpanel/faqs/1">产品简介</a></li>
			<li id="current"><a href="/cpanel/faqs/2">购买相关</a></li>
			<li><a href="/cpanel/faqs/3">联系方式</a></li>
		</ul>
	</div>
	<div class="text_box">
		<h1>ShopShow的购物流程是怎样的？</h1>
		<p>每一次Show都有预告、直播、后继服务三个环节。用户通过预告可以得知最近有怎么样的活动，并关注；在直播过程中，用户可以通过图片文字进行充分的交流与沟通，创建订单并付款；后继服务，会将用户的订单完成，送到用户手中。</p>
	</div>
	<div class="text_box">
		<h1>如何保证是正品？</h1>
		<p>我们的所有活动都发生在实体商店中，我们虽然不能对每种商品进行认证，但是与我们合作的，都是具有足够信誉的商家，享受所在国的法律保障。</p>
	</div>
	<div class="text_box">
		<h1>ShopShow有哪些收费？</h1>
		<p>用户需要交纳的费用：商品售价+当地消费税+运费，如果产生关税，还要交纳关税。除此之外，没有代购费和手续费，汇率按照银行卖出价计算。</p>
	</div>
	<div class="text_box">
		<h1>为什么没有代购费？是不是有猫腻？</h1>
		<p>就让我们当一回雷锋可好？而且只限于我们自有买手的采购项目。</p>
	</div>
	<div class="text_box">
		<h1>自有买手买什么商品？</h1>
		<p>我们的海外自有买手会给大家推荐当地的优、惠商品，部分母婴相关产品和超市商品都是我们自有买手的购买范围。偶尔也会有其它类型的商品活动，例如化妆品或者电器等。</p>
	</div>
</body>
</html>
