@each $margin in 2, 5, 10, 15, 20, 25, 30, 50 {
  .ml-#{$margin} { margin-left: #{$margin}px; }
  .mr-#{$margin} { margin-right: #{$margin}px; }
  .mt-#{$margin} { margin-top: #{$margin}px; }
  .mb-#{$margin} { margin-bottom: #{$margin}px; }
}

// Icons
i.ss {
  display: inline-block;
  background-color: transparent;
  background-image: image-url('delivery/bg.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;  

  &.ss-location {
    width: 19px;
    height: 28px;
    background-position: -160px -40px;
  }

  &.ss-edit {
    background-position: -120px -40px;
  }

  &.ss-start {
    background-position: -40px -80px;
  } 

  &.ss-play {
    background-position: -40px -40px;
  }

  &.ss-power-off {
    background-position: -80px -40px;
  }    
}

// Buttons
@mixin btn ($color) {
  color: #FFF;
  background-color: $color;
  width: auto;
  height: 42px; 
  padding: 10px 14px;
  border: 1px solid darken($color, 8%);

  &.active, &.active:hover {
    background-color: darken($color, 10%);
  }

  &:hover {
    background-color: darken($color, 5%);
  }

  &.icon {
    padding-right: 14px;
    padding-left: 14px;
    border-right: 1px solid darken($color, 16%);    
    padding-top: 12px;
  }

  &.btn-small {
    padding: 5px 10px;
    height: 32px;
  }
}

.btn.btn-blue {
  @include btn(#4798E0);
}

.btn.btn-red {
  @include btn(#FF3D05);
}

.btn.btn-green {
  @include btn(#3AB770);
}
